In [ ]:
#Write a Python program to swap two variables without using a third variable.
p = 10
a =7
#swaping using arithmetic operations.
p = p + a
a = p-a
p = p - a
print(" p vaule is ", p)
print("a value is ", a)

 p vaule is  7
a value is  10

In [ ]:
#Write a Python program to find the type of a variable.

p =10
# we have inbuilt function to find the type
print(type(p))

<class 'int'>

In [ ]:
#Write a Python program that checks if a number is even or odd.

p =10
if p%2==0:
  print("a number is even")
else:
  print("a number is odd")

a number is even

 **logical operaters**
using AND operater and or operater

In [ ]:
#Write a Python program to find the largest of three numbers.

k =10
l =23
h =9
if k>l and k>h:
  print("k is largest number")
if l>k and l>h:
  print("l is largest number")
if h>k and h>l:
  print("h is largest number")

l is largest number

In [ ]:
#Write a Python program to print all numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Write a Python program to perform set union and intersection.
s = {1,2,3,4}
s_2 ={3,4,5,7,8}
u = s | s_2
i = s & s_2

print(s.union(s_2))
print(s.intersection(s_2))

{1, 2, 3, 4, 5, 7, 8}
{3, 4}

In [ ]:
#Write a Python program to find the sum of all elements in a list.
l =[3,4,5,6,7]
print(sum(l))

25

In [ ]:
#Write a Python program to remove duplicates from a list.
l =[3,4,5,5,6,7,8,33,5,6,7,4,3,2,1,9.0]
print(set(l))

{33, 2, 3, 4, 5, 6, 7, 8, 1, 9.0}

In [ ]:
#Write a Python program to find the maximum and minimum value in a list.
l =[56,4,5,6,7,9,2,0]
print(max(l))
print(min(l))

56
0

In [ ]:
#Write a Python program to reverse a string.
s = "pavan bhaskar"
print(s[::-1])

raksahb navap

In [ ]:
#Write a Python program to count the number of vowels in a string.
p = "Pavan bhaskar"
vowels = "aeiouAEIOU"
count = 0
for char in p:
  if char in vowels:
    count += 1

print("Number of vowels in the string:", count)

count = sum(p.count(vowel) for vowel in vowels)
print(count)

Number of vowels in the string: 4
4

In [ ]:
#Write a Python program to create a dictionary and print all the keys and values.
d ={"name":"pavan", "Age": 25 , "City":"Kansas City"}
print(d.keys())
print(d.values())

dict_keys(['name', 'Age', 'City'])
dict_values(['pavan', 25, 'Kansas City'])

In [ ]:
#Write a Python program to check if a key exists in a dictionary.

if "age" in d:
  print("key exists")
else:
  print("key does not exists")

key does not exists

In [ ]:
#Write a Python program to find the index of an element in a tuple.
data =("a","b","c","d","e")
index = data.index("d")
print(index)

2

In [ ]:
#Write a Python program to add an element to a set.
k = {3,4,5,7}
k.add(9)
print(k)

{3, 4, 5, 7, 9}